<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Moja pierwsza strona</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static\css\style.css">
    </head>
    <body>
        <h1>To jest jakiś testowy tekst</h1>
        <p style="color: {{ kolor }};">{{ fakt }}</p>
        <img src="static\img\graj.png">
        <ul>
            <li>Punkt 1</li>
            <li>Punkt 2</li>
            <li>Punkt 3</li>
            <li>Punkt 4</li>
            <li>Punkt 5</li>
        </ul>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/koPzW_AJszw?si=2yExUUrKLvGgqjAX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </body>
</html>
